.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
}

.modal-content{
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    padding: 2%;
    overflow: hidden;
}

.modal-content .btnArea{
    width: 100%;
    text-align: right;
}

.modal-content .btnType{
    border: none;
    outline: none;
    background-color: rgb(21, 103, 211);
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-align: center;
    padding: 1% 2%;
    margin: 0% 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgba(0,0,0,.6);
}

.modal-content .btnType:active{
    box-shadow: inset 2px 2px 3px rgba(0,0,0,.6);
}

.modal-content .bookingBtn{
    margin: 0;
}

.modal-content .table{
    margin: 3% 0%;
}

.modal-content .infoTable{
    width: 100%;
}

.ant-table-wrapper .ant-table-thead >tr>th{
    background-color: #cfcfcf;
}

.ant-table-wrapper .ant-table-tbody >tr >td{
    border-bottom: 1px solid #cfcfcf;
}

@media screen and (max-width:768px){
    .modal-content{
        overflow-x: scroll;
    }
}